<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  
  <servlet>
  	<servlet-name>generateServlet</servlet-name>
  	<servlet-class>com.lteconsulting.offlinedemo.server.GenerateServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>generateServlet</servlet-name>
  	<url-pattern>/generate</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>uploadServlet</servlet-name>
  	<servlet-class>com.lteconsulting.offlinedemo.server.UploadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>uploadServlet</servlet-name>
  	<url-pattern>/upload</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>syncServlet</servlet-name>
  	<servlet-class>com.lteconsulting.offlinedemo.server.SyncServiceServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>syncServlet</servlet-name>
  	<url-pattern>/offlinedemo/syncService</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>manifestServlet</servlet-name>
  	<servlet-class>com.lteconsulting.offlinedemo.server.ManifestServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>manifestServlet</servlet-name>
  	<url-pattern>/manifest</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
